---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from "astro:transitions";
import { generateSchema } from '../seo/schema';

interface Props {
  meta_title: string;
  meta_description: string;
  schemaMarkup?: object;
}
const {meta_title,  meta_description,  schemaMarkup} = Astro.props;
---

<!doctype html>
<html class="" lang="fr-BE">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{meta_title}</title>
	<meta name="description" content={meta_description} />
	<link rel="sitemap" href="/sitemap-index.xml" />
	<link rel="canonical" href={new URL(Astro.url.pathname, import.meta.env.SITE).href} item-prop="url" />
	<meta name="robots" content="index, follow" />

	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<meta property="og:title" content={meta_title} />
	<meta property="og:description" content={meta_description} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content={new URL(Astro.url.pathname, import.meta.env.SITE).href} />
	<meta name="twitter:title" content={meta_title} />
	<meta name="twitter:description" content={meta_description} />
	<meta property="og:image" content="/assur-plombier-deboucheur-chauffagiste.webp" />
	<meta name="twitter:image" content="/assur-plombier-deboucheur-chauffagiste.webp" />
	<meta name="twitter:card" content="summary_large_image" />
	{schemaMarkup && (
	<script type="application/ld+json" set:html={JSON.stringify(generateSchema(meta_title, meta_description, 17))} />
	)
  }
  <ClientRouter />
	</head>
	<body class="relative">
		<Header />
		<slot /> 
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
</style>
